.container {
  // border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.invite {
  // border: 2px solid teal;
  background-color: #fff;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 4rem;

  &__heading {
    font-size: 2.5rem;
    color: $color-primary-cyan;
  }

  &__sub-heading {
    font-size: 1.8rem;
    color: $color-primary-bright-yellow;
    margin: 2rem auto 1.4rem auto;
  }

  &__description {
    font-size: 1.6rem;
    color: $color-neutral-grayish-blue;
    list-style: none;

    & li:not(:last-child) {
      padding-bottom: 0.6rem;
    }
  }
}

.price {
  // border: 2px solid skyblue;
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 4rem;
  background-color: $color-primary-cyan;
  color: $color-neutral-light-gray;

  &__amount {
    font-size: 3rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
  }

  &__description {
    font-size: 1.6rem;
  }
}

.why-us {
  // border: 2px solid slateblue;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 4rem;
  background-color: rgba($color-primary-cyan, 0.8);
  color: $color-neutral-light-gray;

  &__list {
    list-style: none;
    font-size: 1.4rem;
    opacity: 0.6;

    & li:not(:last-child) {
      margin-bottom: 0.35rem;
    }
  }
}

// FOOTER
.attribution {
  font-size: 11px;
  text-align: center;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  a {
    color: hsl(228, 45%, 44%);
  }
}

// COMPONENTS
.sub-heading {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.small-text {
  font-size: 1.6rem;
  font-weight: 400;
  color: currentColor;
  opacity: 0.3;
  padding-left: 1.2rem;
}

.btn {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: inherit;
  color: currentColor;
  background-color: $color-primary-bright-yellow;
  width: 100%;
  padding: 1.3rem;
  margin-top: 2.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}
