// COLORS
$color-primary-cyan: hsl(179, 62%, 43%);
$color-primary-bright-yellow: hsl(71, 73%, 54%);

$color-neutral-light-gray: hsl(204, 43%, 93%);
$color-neutral-grayish-blue: hsl(218, 22%, 67%);

// FONT
$default-font: 'Karla', sans-serif;
